#menu{
	font-family: arial;
	width: 100%;
	justify-content: center;
	align-items: center;
}
#header{
	font-family: times new roman;
	font-size: 20px;
	width: 100%;
	background-color: pink;
}
#nama{
	font-family: arial bold;
	justify-content: center;
	align-items: center;
}
#nama2{
	font-family: arial bold;
	justify-content: center;
	align-items: center;
}
